@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&family=Poppins:ital,wght@0,300;0,400;1,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
    height: max-content;
    width: max-content;
    background-color: rgb(15, 23, 38);
    font-family: 'Jost', sans-serif;
}

.box{
    position: absolute;
    top: 20%;
    bottom: 40%;
    left: 30%;
    right: 30%;
    height: 60vh;
    width: 40vw;
    text-align: center;
    background: url('https://cdn.dribbble.com/users/925716/screenshots/3333720/attachments/722375/night.png?compress=1&resize=400x300');
    border-radius: 8%;
    
}

.inputData {

    margin-top: 30px;
    
}

.inputData input{
    border: none;
    border-radius: 10px;
    height: 40px;
    text-align: center;
}

.info{
    margin-top: 50px;
    text-transform: capitalize;
}
.location{
    color:rgb(27, 25, 34);
}

.temp{
    margin-top: 30px;
    color: rgba(0, 0, 0, 0.782);
}

.tempmin_max{
    margin-top: 20px;
}


.unit_style{
    border-radius: 8px;
    border: solid 0px grey;
}